@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --text-color: #555555;
    --first-color: #eeeeee;
    --second-color: #161657;
    --third-color: #ffa500;
    --fourth-color: #ff6f00;
    --fifth-color: #1313ad;
    --light-color: #ffffff;
    --lighter-color: #f5f5f5;
    --dark-color: #000000;
}

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 1px;
}

body {
    background-color: var(--first-color);
}

header {
    /* border-bottom: 1px solid black; */
    width: 100%;
    height: 63px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--first-color);
    box-shadow: 0px 0px 10px ;
}

header h3 {
    font-size: 25px;
    position: absolute;
    top: 16px;
    left: 150px;
    color: var(--second-color);
    max-width: 100%;
    cursor: pointer;
}

header ul {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: absolute;
    top: 23px;
    right: 150px;
}

header li {
    padding: 0 8px;
    color: var(--second-color);
}

a {
    cursor: pointer;
}

a:hover {
    animation-duration: 10s;
    color: var(--third-color);
    transition: 0.2s;
}

.overflow {
    width: 100%;
    height: 600px;
    background-color: rgba(8, 0, 121, 0.185);
}

.banner {
    width: 100%;
    height: 600px;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: left;
}

.banner h1 {
    max-width: 80vw;
    position: absolute;
    top: 270px;
    left: 100px;
    font-size: 75px;
    color: var(--light-color);
}

.banner h2 {
    max-width: 80vw;
    position: absolute;
    top: 370px;
    left: 100px;
    color: var(--light-color);
}

.sobre {
    padding: 50px 0;
    text-align: center;
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobretext h2 {
    margin: 20px 0;
}

.sobretext p {
    margin: 0 auto;
    text-align:inherit;
    width: 800px;
    max-width: 80vw;
    height: 50px;
}

.skills {
    display: flex;
    margin-top: 30px;
    /* justify-content: center; */
    /* width: 500px; */
    /* padding: 10px 30px; */
}

.skills h3 {
    color: var(--second-color);
    margin: 0 0 20px;
}

.skill {
    width: 300px;
    background-color: var(--light-color);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgb(209, 209, 209);
    padding: 20px;
}

.skill ul {
    line-height: 50px;
    padding: 0 20px;
    list-style-type: none;
}

.skill li:hover {
    color: var(--fifth-color);
    font-weight: 600px;
    cursor: default;
    transition: 0.2s;
}

.contact {
    position: relative;
    background-color: var(--lighter-color);
}

.contact .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact form {
    width: 400px;
    max-width: 100%;
    color: var(--text-color);
}

.contact form input, .contact form textarea {
    width: 100%;
    border: 1px solid #555;
    border-radius: 2px;
    padding: 10px;
    margin: 5px 0 15px;
    resize: none;
}

.contact form input:focus,
.contact form textarea:focus {
    outline: 0;
    border: 1px solid var(--fifth-color);
}

.contact button {
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: #555;
    color: var(--light-color);
    border: none;
    transition: 0.2s;
}

button:hover {
    background-color: var(--fifth-color);
}

label {
    cursor: default;
}

.contact h2 {
    /* display: block; */
    margin: 30px 0;
}

.contact p {
    margin: 17px 0 60px;
}

.contact p a {
    color: var(--second-color);
    text-decoration: none;
    font-weight: bold;
}